@use "utils/mixins/colors";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  z-index: 1;
  overscroll-behavior: none;
  transform: translate3d(0, 0, 0);
  transition: none !important;

  .button-container {
    display: flex;
    gap: 4px;
  }

  .shop-link {
    width: 80px;
    padding: 16px 0 4px 0;

    .menu-logo {
      width: 100%;
    }
  }

  .menu-button {
    margin: 0;
    padding: 15px;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 4px;

    &:hover {
      color: black;
    }
  }
}

.container {
  height: 90%;
}

.drawer {
  z-index: 1000;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h2 {
    margin: 12px;
  }

  .logo {
    width: 100px;
  }

  &--link {
    color: black;
    text-wrap: nowrap;
    border-top: black solid 1px;

    &--text {
      font-weight: 400;
      font-size: 14px;
    }

    &:hover {
      color: colors.$sage-green;
    }
  }
}
