.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.input-text {
  width: 100%;
  min-width: 150px;
  height: 40px;
  border: 1px solid black;
  padding: 4px 8px;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: 1px solid black;
  }
}
