.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior-y: none;

  .form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 300px;
  }

  .button-container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  & button {
    max-width: 140px;
    padding: 10px 32px;
  }

  .error-text {
    color: crimson;
    margin: 12px 0;
  }
}
