.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 24px 0 60px;
  gap: 24px;
  overflow-anchor: none;

  .video {
    width: 50%;
    height: auto;

    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .image-container {
    .image {
      height: 550px;

      @media only screen and (max-width: 900px) {
        height: 500px;
      }
    }
  }
}

.product {
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 60px;

  @media only screen and (max-width: 900px) {
    font-size: 32px;
  }
}
